<!--  -->
{% block content %}
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <img class="featurette-image img-responsive center-block" src="{{image.image.url}}" alt="{{image.image_name}}">
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->
{% endblock %}