{%extends 'albums/cat-base.html'%}
<!--  -->
{% block content %}
<div class="container">
  <div class="row">
    <h1>{{category.name}}</h1>
  </div>
</div>
{% for image in images %}
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="row">
        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
            <img src="{{image.image.url}}" class="img-responsive" alt="Image">
          </a>
      </div>

      <!-- Large modal -->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="row">
              <h1 class="text-center">{{image.image_name}}</h1>
            </div>

            <div class="row">
              <p>{{image.image_description}}</p>
            </div>

            <div class="row">
              <p>{{image.location}}</p>
              <p>{{image.category}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endfor %} {% endblock %}
<div class="container">

  <div class="row">
    {% if categories%}
    <h2>Found {{ categories|length }} of searched term {{message}}.</h2> {% else %}
    <h2> Found 0 categories for the search term {{message}}.</h2> {% endif %}

  </div>

  <div class="row">

    {% if categories %} {% for category in categories %}
    <div class="col-xs-4 col-sm-4 col-md-4 mt-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{category.image.url}}" class="img-responsive" alt="{{category.image_name}}">
        <div class="card-body">
          <a href="{% url 'image' category.id %}" class="card-link float-right">view more &rarr;</a>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>